
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content">
		<div class="row">
			<div class="tab-first-column">
				<div style="margin-left: 10px;">
					<p th:text="#{info.app.description}"></p>

					<p th:text="#{info.app.link.description}">
						<a href="#" target="_blank" ><label th:text="#{info.app.link.name}"></label></a>
					</p>
				</div>
			</div>
			<div class="tab-second-column">
				<div class="well-info text-center">
					<!-- 
					<div>
						<img src="images/logo.png" height="33" width="136"></img>
					</div>
                    -->
					<div style="font-size: 15px; font-weight: bold; color: #333333; line-height: 17px;"
						class="mozulogo" ><label th:text="#{info.app.name}"></label></div>
					<div style="font-size: 12px; color: #333333; line-height: 15px;">
						<label th:text="#{info.app.version}"></label>
                        <label data-bind="text: buildVersion"></label>
					</div>
					<div style="font-size: 12px; color: #333333; line-height: 15px;">Mozu API Version 1.12.0</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>



