<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="content" class="row">
           <div class="notification error" id="invalidAccountDiv" style="display: none;"> 
                <div class="icon"></div>
                <div id="accountVerificationErrorText" class="message">
                </div>            
           </div>
            <div class="tab-full-column">
                <div class="well-info text-center" >
                    <div style="font-size: 15px; font-weight: bold; color: #333333; line-height:17px;" class="mozulogo"></div>
                    <div style="font-size: 12px; color: #333333; line-height:15px;">Mozu Integration Template</div>
                    <div style="font-size: 12px; color: #333333; line-height:15px;">Template Page</div>
                </div>
            </div>
        </div>
    </body>
</html>
